* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  list-style: none;
  padding: 0;
  text-decoration: none;
}

.content {
  margin: auto;
  position: relative;
  width: 100%;
}

.row {
  clear: both;
  display: table;
  margin: auto;
  position: relative;
  width: 100%;
}

[class*="col-"] {
  /*border: 1px solid black;*/
  float: left;
  padding: 20px;
}

body {
  background: #282828;
}

/****************HEADER*****************/
header {
  background: #511845;
}
#logo {
  color: #ff5733;
  font-family: Cambria;
  font-size: 40px;
}
#logo:hover {
  cursor: pointer;
}
header nav ul {
  text-align: center;
}

header nav ul li {
  float: left;
  font-family: arial;
  font-size: 28px;
  margin-top: 10px;
  padding: 0 20px;
  color: #ff5733;
  text-decoration: none;
}
header nav ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

/****************END HEADER*****************/

/****************SLIDE*****************/
.slide {
  height: 800px;
  margin: auto;
}
#slide1 {
  text-align: center;
  background: url(../images/couple.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  align-items: flex-end;
}
#slide2 {
  background: url(../images/chef.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  align-items: flex-end;
  text-align: center;
}
.slide h3 {
  color: white;
  font-family: Cambria;
  font-size: 37px;
  height: 40px;
}

.slide p {
  color: white;
  font-size: 24px;
  margin: auto;
  text-align: center;
  width: 60%;
}
.slide button {
  background: #c70039;
  border-radius: 10px;
  border-width: 0;
  color: white;
  font-family: Arial;
  font-size: 28px;
  height: 55px;
  padding: 5px 20px;
}
.slide button:hover {
  cursor: pointer;
}

/****************END SLIDE*****************/

/****************SECTION 1*****************/
section {
  background: #511845;
  margin: auto;
}

#section1 h2 {
  color: white;
  font-family: Cambria;
  font-size: 37px;
  text-align: center;
}

#section1 p {
  color: white;
  font-family: arial;
  font-size: 24px;
  text-align: center;
}

#section1 div img {
  width: 100%;
}

/*SECTION 2*/
#section2 article {
  border: 1px solid black;
  background-color: #900c3f;
  border-radius: 10px 10px 0 0;
  color: white;
  min-height: 900px;

  transition: background-color 0.3s ease-in-out;
}
#section2 article:hover {
  background-color: black;
}
#section2 article h2 {
  text-align: center;
  font-family: Cambria;
  font-size: 37px;
  margin-top: 22px;
}
#section2 article img {
  border-radius: 25%;
  width: 100%;
}
.itemsPrices {
  text-align: center;
}
.items {
  font-family: tahoma;
  font-size: 17px;
}
.items li {
  font-size: 24px;
  margin-bottom: 20px;
}
.prices {
  float: left;
  font-family: tahoma;
  font-size: 17px;
}
.prices li {
  font-size: 24px;
  margin-bottom: 20px;
}
/*SECTION 3*/
/*section 3*/

#section3 {
  min-height: 100vh;
}

#section3 article h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 40px;
  margin: 20px;
}
#section3 aside {
  margin-top: 60px;
  -webkit-box-shadow: 20px 28px 20px 2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 20px 28px 20px 2px rgba(0, 0, 0, 0.7);
  box-shadow: 20px 28px 20px 2px rgba(0, 0, 0, 0.7);

  background: url(../images/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 10%;
}
#section3 aside#right h1 {
  line-height: 50px;
  text-align: center;
  background: #900c3f;
  color: white;
  margin-bottom: 5px;
}

#section3 aside#right input {
  color: white;
  width: 100%;
  padding: 10px;
}

#section3 aside#right input[type="text"] {
  background: url(../images/user.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

#section3 aside#right input[type="email"] {
  background: url(../images/email.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

#section3 aside#right input[type="submit"] {
  background: #ff5733;
  border: 0;
}

/****************FOOTER*****************/
footer {
  background: #c70039;
  color: white;
  height: 150px;
  margin: auto;
  padding-top: 66px;
  text-align: center;
}
/****************END FOOTER*****************/

/***************RESPONSIVE******************/

/*LARGE (lg) from 1200px */

@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-0 {
    display: none;
  }
}

/*MEDIUM (md) from 992px */

@media (max-width: 1199px) and (min-width: 992px) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-0 {
    display: none;
  }
  .slide {
    height: 655px;
  }
}

/*SMALL(sm) from 768px*/

@media (max-width: 991px) and (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-0 {
    display: none;
  }
  #logo {
    text-align: center;
  }

  #section1 h2 {
    text-align: center;
  }
  #section1 p {
    text-align: center;
  }

  .slide {
    height: 490px;
  }
  #section2 article {
    min-height: 600px;
  }
  #section2 article img {
    display: block;
    margin: auto;
    width: 50%;
  }
}
/*EXTRA SMALL(xs)*/

@media (max-width: 767px) {
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-7 {
    width: 58.33333333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-1 {
    width: 8.33333333%;
  }
  .col-xs-0 {
    display: none;
  }
  #logo {
    text-align: center;
  }

  #section1 h2 {
    text-align: center;
  }
  #section1 p {
    font-size: 18px;
    text-align: center;
  }
  #slide1 {
    display: none;
  }
  #slide2 {
    display: none;
  }
  #section2 article {
    min-height: 250px;
  }
  #section2 article img {
    display: block;
    margin: auto;
    width: 50%;
  }
}
